/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(reset.css);
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* ------- COLORS ------- */
/*#BF0051;*/
/* ------- FONTS ------- */
/* ------- PADDINGS ------- */
/* ------- MIXINS ------- */
/* ------- MATH ------- */
/* ------- GET ON WITH YOUR BAD SELF ------- */
/* apply a natural box layout model to all elements */
/* line 70, ../../../Sites/sass/stones/sass/screen.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 74, ../../../Sites/sass/stones/sass/screen.scss */
.hidden {
  display: none; }

/* line 80, ../../../Sites/sass/stones/sass/screen.scss */
.light {
  color: #bebebe; }

/* line 85, ../../../Sites/sass/stones/sass/screen.scss */
.right {
  float: right; }

/* line 90, ../../../Sites/sass/stones/sass/screen.scss */
.left {
  float: left; }

/* line 95, ../../../Sites/sass/stones/sass/screen.scss */
.bold {
  font-weight: bold; }

/* line 100, ../../../Sites/sass/stones/sass/screen.scss */
h1, h2 {
  font-family: "Pompiere", Helvetica, Arial, sans-serif; }

/* line 105, ../../../Sites/sass/stones/sass/screen.scss */
h1 {
  font-size: 2em;
  padding-bottom: 30px; }

/* line 111, ../../../Sites/sass/stones/sass/screen.scss */
h2 {
  padding-top: 30px;
  font-size: 2em; }

/* line 117, ../../../Sites/sass/stones/sass/screen.scss */
h3 {
  font-size: 1.575em;
  font-weight: bold;
  letter-spacing: .001em;
  padding-bottom: 15px; }

/* line 125, ../../../Sites/sass/stones/sass/screen.scss */
h1 a {
  text-decoration: none; }

/* line 130, ../../../Sites/sass/stones/sass/screen.scss */
body {
  font-size: 18px;
  width: 100%;
  min-height: 100%;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  line-height: 1.8em;
  color: #1a1a1a; }

/* line 141, ../../../Sites/sass/stones/sass/screen.scss */
header {
  text-align: center;
  height: auto;
  background-size: cover;
  /*-webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);*/ }

/* line 150, ../../../Sites/sass/stones/sass/screen.scss */
header h1 {
  margin-bottom: .5em; }

/* line 156, ../../../Sites/sass/stones/sass/screen.scss */
#logo {
  border: 3px solid black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 30px; }

/* line 163, ../../../Sites/sass/stones/sass/screen.scss */
#global-wrapper {
  width: 80%;
  margin: 0px auto;
  text-align: center;
  font-size: 1.05em;
  background: #fff;
  position: relative;
  padding: 30px; }

/* line 177, ../../../Sites/sass/stones/sass/screen.scss */
#main-nav li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px; }

/* line 184, ../../../Sites/sass/stones/sass/screen.scss */
#main-nav {
  padding-top: 2px;
  padding-bottom: 30px; }

/* line 193, ../../../Sites/sass/stones/sass/screen.scss */
p {
  margin-bottom: 7.5px; }

/* line 198, ../../../Sites/sass/stones/sass/screen.scss */
#page-right {
  width: 70%;
  float: right;
  border: 1px solid red; }

/* line 205, ../../../Sites/sass/stones/sass/screen.scss */
#page-left {
  width: 30%;
  float: left;
  border: 1px solid blue; }

/* line 212, ../../../Sites/sass/stones/sass/screen.scss */
.homepage {
  background: white;
  width: 90%;
  margin: 0 auto; }

/* line 222, ../../../Sites/sass/stones/sass/screen.scss */
footer {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 20px;
  clear: both; }

/* line 232, ../../../Sites/sass/stones/sass/screen.scss */
#footer-content {
  width: 100%;
  /*position:fixed;
  bottom:0;*/
  font-size: 0.75em; }

/* UPLOADER */
/* line 242, ../../../Sites/sass/stones/sass/screen.scss */
.alert {
  padding: 30px;
  color: #e85763;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  border: dotted 1px #e85763; }

/* line 252, ../../../Sites/sass/stones/sass/screen.scss */
#upload-stone-form {
  margin: 0 auto;
  display: table;
  text-align: left;
  width: 80%;
  height: auto;
  overflow: auto; }

/* line 261, ../../../Sites/sass/stones/sass/screen.scss */
#upload-stone-form li {
  list-style: none; }

/* line 266, ../../../Sites/sass/stones/sass/screen.scss */
#upload-stone-form label {
  display: table-cell;
  width: 50%; }

/* line 272, ../../../Sites/sass/stones/sass/screen.scss */
#upload-stone-form input {
  width: 50%;
  display: table-cell;
  height: 30px; }

/* line 280, ../../../Sites/sass/stones/sass/screen.scss */
#files-uploaded, #notes {
  display: inline;
  width: 100%; }

/* line 286, ../../../Sites/sass/stones/sass/screen.scss */
#notes {
  height: 120px; }

/* line 291, ../../../Sites/sass/stones/sass/screen.scss */
#upload-submit {
  margin-top: 15px;
  border: 2px solid black;
  background-color: white;
  padding: 10px;
  font-size: 1.05em;
  height: auto !important;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10; }

/* LOG IN */
/* line 306, ../../../Sites/sass/stones/sass/screen.scss */
#content {
  margin: 0 auto;
  text-align: center; }

/* line 312, ../../../Sites/sass/stones/sass/screen.scss */
#login-submit {
  margin-top: 15px;
  border: 2px solid black;
  background-color: white;
  padding: 10px;
  font-size: 1.05em;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10; }

/* INVENTORY */
/* line 325, ../../../Sites/sass/stones/sass/screen.scss */
.stone-article {
  width: 100%;
  height: auto;
  overflow: auto;
  margin-bottom: 30px; }

/* line 333, ../../../Sites/sass/stones/sass/screen.scss */
.stone-image {
  width: 45%;
  float: left;
  margin-right: 30px; }

/* line 341, ../../../Sites/sass/stones/sass/screen.scss */
.stone-image img {
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

/* line 347, ../../../Sites/sass/stones/sass/screen.scss */
.stone-info {
  width: 50%;
  float: right; }

/* --------------------------------------- RESPONSIVE ------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 600px) {
  /* line 359, ../../../Sites/sass/stones/sass/screen.scss */
  #global-wrapper {
    width: 100%; }

  /* line 364, ../../../Sites/sass/stones/sass/screen.scss */
  #logo {
    width: 30%;
    height: auto;
    border: 4px solid black; }

  /* line 371, ../../../Sites/sass/stones/sass/screen.scss */
  #main-nav a {
    padding-left: 15px;
    padding-right: 15px; }

  /* line 378, ../../../Sites/sass/stones/sass/screen.scss */
  .stone-image {
    width: 100%;
    float: none; }

  /* line 384, ../../../Sites/sass/stones/sass/screen.scss */
  .stone-info {
    width: 100%;
    float: none; } }
